@charset "utf-8";
body,h1,h2,h3,p,ul,ol,form,fieldset,figure {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53",
    simsun, sans-serif;
}

div,figure,img,input,button {
    box-sizing: border-box;
}

ul,ol {
    list-style: outside none none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.clearfix:after {
     content: '.';
     height: 0;
     display: block;
     visibility: hidden;
     clear: both;
 }

.none, .sm-visible {
    display: none;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #333;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    z-index: 9999;
}

#header .center {
    max-width: 1263px;
    height: 70px;
    margin: 0 auto;
}

#header .logo {
    float: left;
    width: 30%;
    height: 70px;
    text-indent: -9999px;
    background: url(../img/logo.png) no-repeat left center;
}

#header .link {
    float: right;
    width: 55%;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

#header .link li {
    float: left;
    width: 20%;
}

#header .link a {
    display: block;
    color: #eee;
}

#header .active a,
#header .link a:hover {
    background-color: #000;
}

#advert {
    max-width: 1920px;
    margin: 0 auto;
    padding: 70px 0 0 0;
    position: relative;
}

#advert .center {
    width: 40%;
    height: 60px;
    background-color: #000;
    border-radius: 10px;
    margin: -10px 0 0 -20%;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
}

#advert .copy {
    opacity: 1.0;
    background-color: transparent;
    padding: 3px 3px 0 3px;
}

#advert .search {
    width: 70%;
    height: 52px;
    background-color: #eee;
    color: #666;
    border: 1px solid #666;
    border-radius: 10px;
    font-size: 24px;
    padding: 0 10px;
    outline: none;
    display: block;
    float: left;
}

#advert .button {
    width: 30%;
    height: 54px;
    background-color: #eee;
    color: #666;
    border: 1px solid #333;
    border-left-width: 3px;
    border-radius: 10px;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    display: block;
    float: right;
}

#tour {
    max-width: 1263px;
    height: 1150px;
    margin: 30px auto;
}

#tour .center {
    text-align: center;
}

#tour .center h2 {
    margin: 10px 0;
    font-size: 45px;
    letter-spacing: 2px;
    color: #666;
}

#tour .center p {
    margin: 10px;
    font-size: 16px;
    color: #666;
}

#tour figure {
    display: block;
    width: 32.4%;
    margin: 15px 0.4%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    float: left;
    text-align: left;
    position: relative;
}

#tour figure img {
    vertical-align: middle;
}

#tour figcaption {
    color: #777;
    font-size: 14px;
    padding: 7px 0 0 0;
    line-height: 1.5;
    letter-spacing: 1px;
}

#tour .tour_title {
    height: 40px;
    overflow: hidden;
}

#tour .title {
    color: #333;
    font-weight: normal;
}

#tour .price {
    color: #f60;
    font-size: 14px;
}

#tour .price strong {
    font-size: 20px;
    letter-spacing: 1px;
}

#tour .sat {
    color: #999;
    font-size: 13px;
    font-style: normal;
    float: right;
    position: relative;
    right: 5px;
    top: 5px;
}

#tour .type {
    width: 90px;
    height: 25px;
    line-height: 25px;
    border-bottom-right-radius: 4px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #59b200;
    color: #fff;
    position: absolute;
    top: 4px;
    left: 4px;
}

#headline {
    max-width: 1920px;
    margin: 0 auto;
    padding: 70px 0 0 0;
    position: relative;
}

#headline hgroup {
    position: absolute;
    top: 45%;
    left: 18%;
}

#headline h2 {
    color: #eee;
    font-size: 45px;
    letter-spacing: 1px;
}

#headline h3 {
    color: #eee;
    font-size: 24px;
    letter-spacing: 1px;
}

#container {
    max-width: 1263px;
    margin: 30px auto;
}

#container .sidebar {
    width: 28%;
    float: right;
}

#container .sidebar h2 {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #666;
    text-indent: 10px;
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    text-align: left;
}

#container .recommend {
    border: 1px solid #eee;
    margin: 0 0 10px;
    background-color: #ffffff;
}

#container .tag {
    text-align: center;
    padding: 10px 0;
}

#container .tag li {
    display: inline-block;
    background-color: #eee;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-indent: 8px;
    margin: 2px 0;
    border-radius: 4px;
}

#container .tag a {
    display: block;
    color: #999;
}

#container .tag a:hover {
    color: #fff;
    border-radius: 4px;
    background-color: #458b00;
}

#container .hot {
    border: 1px solid #eee;
    margin: 0 0 10px;
    background-color: #ffffff;
    text-align: center;
}

#container .figure {
    padding: 10px 0;
}

#container .hot figure {
    display: inline-block;
    color: #666;
    padding: 4px;
}

#container .hot figcaption {
    margin: 5px 0 0 0;
}

#container .treasure {
    border: 1px solid #eee;
    background-color: #fff;
    margin: 0 0 10px;
}

#container .box {
    text-align: center;
    padding: 10px 0;
}

#container .box li {
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin: 3px 0;
    background-color: #eee;
    border-radius: 4px;
}

#container .box a {
    display: block;
    text-indent: 35px;
    text-align: left;
    color: #999;
}

#container .box a.trea1 {
    background: url("../img/trea1.png") no-repeat 10px center;
}

#container .box a.trea2 {
    background: url("../img/trea2.png") no-repeat 10px center;
}

#container .box a.trea3 {
    background: url("../img/trea3.png") no-repeat 10px center;
}

#container .box a.trea4 {
    background: url("../img/trea4.png") no-repeat 10px center;
}

.list {
    width: 71%;
    float: left;
}

.list h2 {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    font-weight: normal;
    border-bottom: 1px dashed #999;
    padding: 0 0 15px 0;
    color: #666;
}

.about p {
    font-size: 20px;
    color: #666;
    line-height: 2;
    margin: 20px 0;
}

.about address {
    font-style: normal;
    font-size: 20px;
    color: #666;
    line-height: 1.6;
    margin: 20px 0;
}

.scenery .more {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fafafa;
}

.scenery figure {
    display: block;
    width: 32.6%;
    margin: 15px 5px 15px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    float: left;
    text-align: left;
    position: relative;
}

.scenery figcaption {
    color: #666;
    font-size: 20px;
    padding: 7px 0 0 0;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
}

.ticket {
    color: #666;
}

.ticket .type {
    font-size: 20px;
    margin: 20px 0 10px 0;
    border: none;
}

.ticket mark {
    background-color: #458b00;
    color: #fff;
    border-radius: 4px;
    padding: 5px 8px;
    margin: 0 10px 0 16px;
}

.ticket .form {
    font-size: 20px;
    border: none;
}

.ticket .form p {
    line-height: 3;
}

.ticket .form input {
    width: 250px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    font-size: 18px;
    color: #666;
    margin: 0 0 0 16px;
    outline: none;
}

.ticket .left {
    display: inline-block;
    width: 43%;
}

.ticket .right {
    display: inline-block;
    width: 43%;
}

.ticket .button {
    display: inline-block;
    width: 9%;
}

.ticket .submit {
    display: inline-block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 4px;
    background-color: #f60;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    top: -28px;
}

.ticket .new {
    font-size: 20px;
    margin: 20px 0 0 0;
}

.ticket .new ul {
    margin: 20px 0 0 0;
}

.ticket .new li {
    display: inline-block;
    padding: 5px 10px;
}

.ticket .new li:first-child {
    padding-left: 0;
}

.ticket .new li:nth-child(2) {
    background-color: #458b00;
    color: #fff;
    border-radius: 4px;
}

.ticket .new table {
    width: 100%;
    text-align: center;
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin: 20px 0 0 0;
}

.ticket .new table th {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    font-weight: normal;
}

.ticket .new table td {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
}

.ticket .new table tr:nth-child(2n) {
    background-color: #fafafa;
}

.ticket .new table tr:hover {
    background-color: #eee;
}

.ticket .new .price {
    color: #f60;
}

.ticket .reserve {
    display: inline-block;
    color: #fff;
    background-color: #f60;
    width: 80px;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
}

.ticket .new .more {
    display: block;
    margin: 0 auto;
    color: #666;
    text-align: center;
    font-size: 18px;
}

.information figure {
    margin: 20px 0 0 0;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.information figure:after {
    display: block;
    content: '.';
    visibility: hidden;
    height: 0;
    clear: both;
}

.information img {
    float: left;
    width: 45%;
}

.information figcaption {
    float: right;
    width: 55%;
}

.information hgroup {
    width: 300px;
}

.information hgroup h2 {
    font-size: 24px;
    font-weight: normal;
    padding: 10px 0 10px 25px;
    color: #333;
    border: none;
}

.information hgroup h3 {
    font-size: 16px;
    font-weight: normal;
    padding: 10px 0 10px 25px;
    color: #666;
    line-height: 1.5;
}

.information ol {
    padding: 0 0 0 25px;
    color: #666;
    line-height: 2;
}

.information mark {
    color: #458b00;
    padding: 0 5px;
    border: 1px solid #458b00;
    border-radius: 4px;
    background-color: #fff;
}

.information .buy {
    position: absolute;
    top: 55px;
    right: 30px;
}

.information .price {
    font-size: 20px;
    color: #f60;
}

.information strong {
    font-size: 36px;
}

.information s {
    font-size: 16px;
    color: #999;
}

.information .reserve {
    margin: 10px 0 0 0;
}

.information .reserve a {
    display: block;
    width: 152px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: #f60;
}

.information .type {
    width: 90px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-bottom-right-radius: 4px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    background-color: #59b200;
    position: absolute;
    top: 0;
    left: 0;
}

.information .disc {
    width: 52px;
    height: 52px;
    background: url("../img/disc.png");
    position: absolute;
    top: 0;
    right: 0;
}

.information .disc span {
    display: block;
    width: 52px;
    height: 52px;
    font-size: 14px;
    color: #ff7a4d;
    text-indent: 7px;
    padding: 5px 0 0 0;
    transform: rotate(45deg);
}

.information footer {
    width: 55%;
    height: 35px;
    line-height: 35px;
    text-indent: 25px;
    color: #666;
    letter-spacing: 1px;
    background-color: #fafafa;
    position: absolute;
    bottom: 0;
}

#footer {
    background-color: #222;
    clear: both;
    position: relative;
    top: 20px;
}

#footer .top {
    max-width: 1263px;
    height: 280px;
    margin: 0 auto;
}

#footer .version {
    color: #777;
    text-align: center;
    padding: 10px 0;
}

#footer .block {
    width: 33.33%;
    height: 320px;
    color: #ccc;
    float: left;
}

#footer .bottom {
    padding: 15px 0;
    text-align: center;
    background-color: #000;
    color: #777;
    border-top: 1px solid #444;
}

#footer h2 {
    font-weight: normal;
    padding: 20px 0 0 20px;
    font-size: 24px;
}

#footer hr {
    width: 90%;
    border: 1px dashed #333;
}

#footer ul {
    color: #666;
    font-size: 18px;
    text-indent: 20px;
    line-height: 2;
}

/*媒体查询，参考部分Bootstrap框架*/
/*当页面大于1200时，大屏幕，主要是PC端*/
@media (max-width: 1200px) {

}

/*在992和1199像素之间的屏幕里，中等屏幕，分辨率低的PC*/
@media (min-width: 992px) and (max-width: 1199px) {
    #advert .center {
        width: 50%;
        margin: -10px 0 0 -25%;
    }
    #tour .center h2 {
        font-size: 40px;
    }
    #headline hgroup {
        left: 8%;
    }
    #headline h2 {
        font-size: 36px;
    }
    #headline h3 {
        font-size: 20px;
    }
    .sidebar {
        display: none;
    }
    .list {
        width: 100%;
        padding: 0 20px;
    }
}

/*在768和991像素之间的屏幕里，小屏幕，主要是PAD*/
@media (min-width: 768px) and (max-width: 991px) {
    #advert .center {
        width: 60%;
        margin: -10px 0 0 -30%;
    }
    #advert .search, #advert .button {
        font-size: 20px;
    }
    #tour .center h2 {
        font-size: 35px;
    }
    #headline hgroup {
        left: 8%;
    }
    #headline h2 {
        font-size: 30px;
    }
    #headline h3 {
        font-size: 16px;
    }
    .sidebar {
        display: none;
    }
    .list  {
        width: 100%;
        padding: 0 20px;
    }
    .list h2 {
        font-size: 28px;
    }
    .about p, .about address {
        font-size: 18px;
    }
    .ticket .left, .ticket .right, .ticket .button {
        width: 98%;
        display: block;
    }
    .ticket .form input {
        width: 98%;
        height: 35px;
        margin: 0;
    }
    .ticket .form p {
        line-height: 2;
    }
    .ticket .submit {
        display: block;
        width: 30%;
        height: auto;
        line-height: 2;
        position: static;
        margin: 10px auto;
    }
    .md-hidden {
        display: none;
    }
    .information hgroup h2 {
        font-size: 22px;
    }
    .information .buy {
        position: absolute;
        top: auto;
        right: auto;
        bottom: 0;
        padding: 0 0 0 25px;
    }
}

/*在480和767像素之间的屏幕里，超小屏幕，主要是手机*/
@media (min-width: 480px) and (max-width: 767px) {
    #header, #header .center, #header .logo, #header .link {
        height: 45px;
    }
    #header .logo, .sm-hidden, .sidebar, .md-hidden {
        display: none;
    }
    #header .link {
        width: 100%;
        line-height: 45px;
    }
    #advert {
        padding: 45px 0 0 0;
    }
    #advert .center {
        width: 70%;
        height: 53px;
        margin: -10px 0 0 -35%;
    }
    #advert .search, #advert .button {
        height: 45px;
        font-size: 18px;
    }
    .sm-visible {
        display: block;
    }
    #tour .center h2 {
        font-size: 30px;
    }
    #tour .center p {
        font-size: 15px;
    }
    #tour figure {
        width: 49.2%;
    }
    #headline {
        padding: 45px 0 0 0;
    }
    #headline hgroup {
        left: 8%;
    }
    #headline h2 {
        font-size: 26px;
    }
    #headline h3 {
        font-size: 14px;
    }
    .list {
        width: 100%;
        padding: 0 20px;
    }
    .list h2 {
        font-size: 25px;
    }
    .about p, .about address {
        font-size: 15px;
    }
    .scenery figure {
        width: 48.2%;
    }
    .scenery figcaption {
        font-size: 18px;
    }
    .ticket .left, .ticket .right, .ticket .button {
        width: 98%;
        display: block;
    }
    .ticket .form input {
        width: 98%;
        height: 35px;
        margin: 0;
    }
    .ticket .form p {
        line-height: 2;
    }
    .ticket .submit {
        display: block;
        width: 30%;
        height: auto;
        line-height: 2;
        position: static;
        margin: 10px auto;
    }
    .ticket .type, .ticket .form, .ticket .new, .ticket .form input, .ticket .submit, .ticket .reserve {
        font-size: 16px;
    }
    .information hgroup h2 {
        font-size: 22px;
    }
    .information hgroup h3 {
        font-size: 14px;
        padding: 0 0 0 15px;
    }
    .information .buy {
        position: absolute;
        top: auto;
        right: auto;
        bottom: 0;
        padding: 0 0 0 15px;
    }
    .information strong {
        font-size: 18px;
    }
}

/*在小于480像素的屏幕，微小屏幕，更低分辨率的手机*/
@media (max-width: 479px) {
    #header, #header .center, #header .logo, #header .link  {
        height: 45px;
    }
    #header .logo, .xs-hidden, .sm-hidden, .sidebar, .md-hidden {
        display: none;
    }
    #header .link {
        width: 100%;
        line-height: 45px;
    }
    #header .link li {
        width: 25%;
    }
    #advert {
        padding: 45px 0 0 0;
    }
    #advert .center {
        width: 80%;
        height: 48px;
        margin: -10px 0 0 -40%;
    }
    #advert .search, #advert .button {
        height: 40px;
        font-size: 16px;
    }
    .sm-visible {
        display: block;
    }
    #footer .bottom, #footer .version {
        font-size: 13px;
    }
    #tour .center h2 {
        font-size: 26px;
    }
    #tour .center p {
        font-size: 14px;
    }
    #tour figure {
        width: 99%;
    }
    #headline {
        padding: 45px 0 0 0;
    }
    #headline hgroup {
        left: 8%;
    }
    #headline h2 {
        font-size: 20px;
    }
    #headline h3 {
        font-size: 12px;
    }
    .list {
        width: 100%;
        padding: 0 20px;
    }
    .list h2 {
        font-size: 20px;
    }
    .about p, .about address {
        font-size: 14px;
    }
    .scenery figure {
        width: 99%;
    }
    .scenery figcaption {
        font-size: 16px;
    }
    .ticket .left, .ticket .right, .ticket .button {
        width: 98%;
        display: block;
    }
    .ticket .form input {
        width: 98%;
        height: 35px;
        margin: 0;
    }
    .ticket .form p {
        line-height: 2;
    }
    .ticket .submit {
        display: block;
        width: 30%;
        height: auto;
        line-height: 2;
        position: static;
        margin: 10px auto;
    }
    .ticket .type, .ticket .form, .ticket .new, .ticket .form input, .ticket .submit, .ticket .reserve {
        font-size: 14px;
    }
    .ticket .reserve {
        display: inline-block;
        width: auto;
        height: auto;
        line-height: 1;
        border-radius: 4px;
        background-color: #f60;
        color: #fff;
        padding: 8px;
        text-align: center;
    }
    .information hgroup h2 {
        font-size: 16px;
        height: 15px;
        line-height: 15px;
        padding: 5px 0 5px 15px;
    }
    .information hgroup h3 {
        font-size: 14px;
        padding: 5px 0 5px 15px;
        height: 15px;
        overflow: hidden;
    }
    .information .buy {
        position: absolute;
        top: auto;
        right: auto;
        bottom: 0;
        padding: 0 0 0 15px;
    }
    .information strong, .information s, .information .price {
        font-size: 15px;
    }
}