@charset "utf-8";
body {
    margin: 0;
    border: 1px solid red;
}

div {
    background-color: green;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 20px;
    overflow:scroll;
}