@charset "utf-8";
body,h1,h2,h3,ul,ol,p,figure {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei UI","Microsoft YaHei",SimHei,"宋体",simsun,sans-serif;
}

ul,ol {
    list-style: outside none none;
}

input,button {
    outline: none;
}

a {
    text-decoration: none;
}

#header {
    width: auto;
    min-width: 1263px;
    height: 70px;
    background-color: #333;
}

#header .center {
    width: 1263px;
    height: 70px;
    margin: 0 auto;
}

#header .logo {
    width: 240px;
    height: 70px;
    background: url("../img/logo.png");
    text-indent: -999px;
    float: left;
}

#header .link {
    width: 650px;
    height: 70px;
    text-align: center;
    float: right;
}

#header .link li {
    width: 120px;
    height: 70px;
    line-height: 70px;
    float: left;
}

#header .link a {
    display: block;
    color: #eee;
}

#header .active a,
#header .link a:hover {
    background-color: #000;
}

#footer {
    width: auto;
    min-width: 1263px;
    height: 360px;
    background-color: #222;
    clear: both;
    position: relative;
    top: 20px;
}

#footer .top {
    height: 280px;
    margin: 0 auto;
    text-align: center;
}

#footer .block {
    width: 410px;
    height: 280px;
    display: inline-block;
    color: #ccc;
    text-align: left;
    vertical-align: top;
}

#footer h2 {
    font-weight: normal;
    padding: 20px 0 0 20px;
    font-size: 24px;
}

#footer hr {
    width: 90%;
    border: 1px dashed #333;
}

#footer ul {
    color: #666;
    font-size: 18px;
    text-indent: 20px;
    line-height: 2;
}

#footer .bottom {
    width: auto;
    min-width: 1263px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #777;
    background-color: #000;
    border-top: 1px solid #444;
}