@charset "utf-8";
body,h1,ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: outside none none;
}

a {
    text-decoration: none;
}

#header {
    width: auto;
    height: 70px;
    background-color: #333;
}

#header .center {
    width: 1263px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
}

#header .logo {
    width: 240px;
    height: 70px;
    background-image: url(../img/logo.png);
    text-indent: -999px;
    float: left;
}

#header .link {
    width: 650px;
    height: 70px;
    line-height: 70px;
    float: right;
}

#header .none {
    display: none;
}

#header .link li {
    width: 120px;
    text-align: center;
    float: left;
}

#header .link a {
    color: #eee;
    display: block;
}

#header .active a,
#header .link a:hover {
    background-color: #000;
}