@charset "utf-8";
body,h1,h2,h3,p,ul,ol,form,fieldset,figure {
    margin: 0;
    padding: 0;
}

div,figure,img {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53",
    simsun, sans-serif;;
}

ul,ol {
    list-style: outside none none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.none {
    display: none;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #333;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    z-index: 9999;
}

#header .center {
    max-width: 1263px;
    height: 70px;
    margin: 0 auto;
}

#header .logo {
    float: left;
    width: 30%;
    height: 70px;
    text-indent: -9999px;
    background: url("../img/logo.png") no-repeat left center;
}

#header .link {
    float: right;
    width: 55%;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

#header .link li {
    float: left;
    width: 20%;
}

#header .link a {
    display: block;
    color: #eee;
}

#header .active a,
#header .link a:hover {
    background-color: #000;
}

#advert {
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 70px;
}

/*媒体查询，参考部分Bootstrap框架*/
/*当页面大于1200px时，大屏幕，主要是PC端*/
@media (max-width: 1200px) {

}

/*在992和1199像素之间的屏幕里，中等屏幕，分辨率低的PC*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*在768和991像素之间的屏幕里，小屏幕，主要是PAD*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*在480和767像素之间的屏幕里，超小屏幕，主要是手机*/
@media (min-width: 480px) and (max-width: 767px) {
    #header, #header .center, #header .logo, #header .link  {
        height: 45px;
    }
    #header .logo {
        display: none;
    }
    #header .link {
        width: 100%;
        line-height: 45px;
    }
    #advert {
        padding: 45px 0 0 0;
    }
}

/*在小于480像素的屏幕，微小屏幕，更低分辨率的手机*/
@media (max-width: 479px) {
    #header, #header .center, #header .logo, #header .link {
        height: 45px;
    }
    #header .logo, .xs-hidden {
        display: none;
    }
    #header .link {
        width: 100%;
        line-height: 45px;
    }
    #header .link li {
        width: 25%;
    }
    #advert {
        padding: 45px 0 0 0;
    }
}